.container {
    margin-top: 2%;
}

.navigation {
	width: 70%;
	margin: auto;
}

.main {
    width: 80%;
    padding: 1%;
    padding-left: 4%;    
    padding-right: 4%; 
    margin: auto;
}

#home {
    display: block;
}

#addTab, #searchTab, #deptTab, #leavesTab, #shortLeavesTab, #attendanceTab {
    display: none;
}

#emp-modal {
	display: none;
}

.modal-dialog {
	max-width: unset;
    width: 80% !important;
}

.progInput {
	width: 60px;
	text-align: right;
}