<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
 
        <!-- hibernate dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
 
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        
       
       	<!-- UNCOMMENT OR ADD YOUR SQL CONNECTION INFO AND COMMENT OUT WHATEVER NOT YOURS! -->       	
       	
       	<!-- PRABUDDHA -->
        
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/EMS</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property> 
        
        <!-- END PRABUDDHA -->
        
        <!-- DHAMITH -->
        <!-- 
        <property name="hibernate.connection.url">jdbc:mysql://localhost:8889/EMS</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>  
         -->      
        <!-- END DHAMITH -->
        
        
        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
 
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
 
        <!-- ############################################ -->
        <!-- #    mapping files with internal classes   # -->
        <!-- ############################################ -->
 
        <mapping class="com.entity.Employee"/>
        <mapping class="com.entity.Department"/>
        <mapping class="com.entity.Login"/>
        <mapping class="com.entity.Leave"/>
        <mapping class="com.entity.LeavesLeft"/>
        <mapping class="com.entity.Task"/>
        <mapping class="com.entity.TaskAssignment"/>
        <mapping class="com.entity.TaskAssessment"/>
 	
    </session-factory>
</hibernate-configuration>